/*body{
	background: url('http://previews.123rf.com/images/christitze/christitze1611/christitze161124284/66868028-POLLS-Red-text-on-typography-background-3D-rendered-royalty-free-stock-image-This-image-can-be-used--Stock-Photo.jpg') no-repeat;
	background-size: cover;
    background-color: hsla(0,0%,100%,0.50);
    background-blend-mode: overlay;
    z-index: 1;
    position: absolute;
    display: block;
    background-attachment: fixed;
}*/

/*div{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/